/* *
    Document   : comuns
    Author     : Augusto Weiand <guto.weiand@gmail.com>
    Description:
        Estilos comuns
*/

/*
 Classe para alinhar ao centro com width 100% - align: center;
*/
.fullCenter {
        text-align: center; 
        float: left; 
        width: 100%;
}

.leftFloat {
        float: left;
        width: 50%;
}

.rightFloat {
        float: right;
        width: 50%;
}

.error {
        margin: 0 auto;
        text-align: center;
        width: 140px;
}
